#list {
	font-family: cursive;
}

#style {
	color: purple;
}

#tay { 
	background-color: blue;
	color: white;
	font-size: 17px;
}

#rasp {
	color: red;
}

#borders {
	border-style: dotted;
	border-color: black;
	border-width: 40px;
}