#list {
	font-family: cursive;
}

#style {
	color: purple;
}

#tay { 
	background-color: blue;
	color: white;
	font-size: 17px;
}

#rasp {
	color: red;
}

#borders {
	border-style: dotted;
	border-color: black;
	border-width: 4px;
}

#end {
	border-style: solid;
	border-width: 3px;
	border-color: #8936e0;
	color: #a1ab29;
}